<% include ../partials/header %>
<div class = "container">
    <div class = "row">
        <h1 style = "text-align : center">Invalid Login , Please try again !</h1>
        <div style = "width : 30% ; margin: 0 auto;">
         <form action="/login" method = "POST">
             <div class="form-group">
                <input class="form-control" type = "text" name = "username" placeholder = "User Name">
            </div>
            <div class="form-group">
             <input  class="form-control" type = "password" name = "password" placeholder = "User password">
             </div>
             <div class="form-group">
            <button class="btn btn-lg btn-default btn-primary btn-block">Login</button>
            <a href = "/signup" class="btn btn-lg btn-default btn-primary btn-block">Not a User!</a>
            </div>
         </form>   
       </div>
    </div>
</div>