<% include ../partials/header %>

<body>
        <div class="row">
          <div class="container col-lg-8 d-none d-lg-block">
            <% if( message === ""){ %>
              <h1 style = "text-align : center">Register User</h1>
            <% }else{ %>
              <h1 style = "text-align : center">Registered User exist , Please sign up as different User !</h1>
            <% } %>
            </div>
          </div>

          <div class="container col-lg-4">
            <div class="card bg-primary text-center card-form">
              <div class="card-body">
                <h3>Sign Up Today</h3>
                <p>Please fill out this form to register</p>
                <form action="/signup" method = "POST">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" name = "username" placeholder = "User Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" name = "email" placeholder = "User Email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" name = "password" placeholder = "User Password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                  </div>
                  <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                </form>
              </div>
            </div>
          </div>
        </div>
</body>
</html>