<% include ./partials/header %>
<h1> Welcome to home page: <%=username%> </h1>
<a href="/blog" class="btn btn-lg btn-success">View Blogs</a>
<a href="/blog/new" class="btn btn-lg btn-success">Log 'a' blog</a>
<% include ./partials/footer %>